* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(2, 6, 23, 0.9);
  backdrop-filter: blur(10px);
  padding: 15px;
  text-align: center;
  z-index: 100;
}

.navbar a {
  margin: 0 18px;
  font-weight: 600;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(circle at top, #1e3a8a, #020617);
  text-align: center;
}

.hero h1 {
  font-size: 52px;
  margin-bottom: 10px;
}

.hero p {
  opacity: 0.8;
  font-size: 18px;
}

button {
  margin-top: 20px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #38bdf8, #9333ea);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

section {
  padding: 90px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  font-size: 32px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.skills-grid div {
  background: #020617;
  border: 1px solid #1f2933;
  padding: 15px;
  border-radius: 12px;
}

.project-card {
  background: #020617;
  border: 1px solid #1f2933;
  padding: 25px;
  margin: 25px auto;
  max-width: 420px;
  border-radius: 16px;
  transition: transform .2s, box-shadow .2s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(56,189,248,.25);
}

.project-card h3 {
  margin-top: 0;
}

footer {
  background: #020617;
  padding: 25px;
  border-top: 1px solid #1f2933;
}
.fade {
animation: fadeUp 1.2s ease forwards;
opacity:0;
}

@keyframes fadeUp {
from {
opacity:0;
transform:translateY(40px);
}
to {
opacity:1;
transform:translateY(0);
}
}

.typing {
overflow: hidden;
white-space: nowrap;
animation: typing 3s steps(30,end);
}


@keyframes typing {
from { width: 0 }
to { width: 100% }
}

section {
background: rgba(255,255,255,0.02);
border-radius:20px;
padding:40px;
margin:40px 0;
box-shadow: 0 0 30px rgba(56,189,248,0.15);
transition:0.3s;
}

section:hover {
box-shadow: 0 0 40px rgba(56,189,248,0.35);
transform: translateY(-6px);
}

