*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

.navbar{
position:fixed;
width:100%;
top:0;
background:#020617;
padding:15px;
text-align:center;
z-index:10;
}

.navbar a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:600;
}

.hero{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#2563eb,#9333ea);
}

.hero h1{
font-size:48px;
}

section{
padding:80px 20px;
text-align:center;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
max-width:700px;
margin:auto;
}

.skills-grid div{
background:#020617;
padding:15px;
border-radius:10px;
}

.project-card{
background:#020617;
padding:20px;
margin:20px auto;
max-width:400px;
border-radius:15px;
}

.project-card a{
color:#38bdf8;
text-decoration:none;
}

button{
padding:10px 25px;
border:none;
border-radius:20px;
background:#38bdf8;
cursor:pointer;
}

footer{
background:#020617;
padding:20px;
}
